
.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: $base-background-color;
  $hero-background-bottom: darken($electric-blue, 50%);
  $hero-color: #fff;
  $gradient-angle: 10deg;
  $hero-image: '';

  padding-bottom: 3em;

  .hero-logo img {
    height: 12em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        font-family: $game-font;
        color: $hero-color;
        font-size: 1.2em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.4em;
        }
      }

      h2 {
        color: $hero-color;
        font-size: 1.2em;
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 800px) {
  .hero {
    margin-top: -360px;
  }
}

@media only screen and (min-device-width: 801px) {
  .hero {
    margin-top: -200px;
  }
}
