body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  color: $hot-pink;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: 1px solid #444;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
  color: black;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.neon_pink {
  color: $base-background-color;
  text-shadow: -1px 0 $light-hot-pink, 0 1px $light-hot-pink, 1px 0 $light-hot-pink, 0 -1px $light-hot-pink;
}

.neon_blue {
  color: $base-background-color;
  text-shadow: -1px 0 $electric-blue, 0 1px $electric-blue, 1px 0 $electric-blue, 0 -1px $electric-blue;
}

.neon_yellow {
  color: $base-background-color;
  text-shadow: -1px 0 $yellow, 0 1px $yellow, 1px 0 $yellow, 0 -1px $yellow;
}

.pink {
  color: $light-hot-pink;
}

.blue {
  color: $electric-blue;
}

.yellow {
  color: #fef654;
}

.white {
  color: #fff;
}

.big {
  font-size: 1.2em;
}

.bigger {
  font-size: 1.5em;
}

.small {
  font-size: .8em;
}

.subtle {
  color: tint($base-background-color, 30%);
}

.pixel {
  font-family: $game-font;
}