// Typography
$base-font-family: "Lucida Console", Monaco, monospace;
$tech-font: 'Orbitron', san-serif;
$game-font: 'Press Start 2P', monospace;

$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$hot-pink: #FF0080;
$light-hot-pink: lighten($hot-pink, 30%);
$dark-gray: #ccc;
$medium-gray: #999;
$light-gray: #ddd;
$electric-blue: #3ECAE8;
$cyan: #0f9;
$yellow: #fef654;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $electric-blue;
$highlight-color: $electric-blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #333;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
