// Typography
$base-font-family: "Lucida Console", Monaco, monospace;
$tech-font: 'Orbitron', san-serif;
$game-font: 'Press Start 2P', monospace;

$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$chrome-top: #e2e7ef;
$light-purple: #9988bc;
$chrome-bottom: #383a5f;
$chrome-middle: #98a6bc;
$deep-purple: #331244;
$magenta: #ED00D3;
$led-blues: #3EE7E8;
$hot-pink: #ED00D3;
$light-hot-pink: lighten($hot-pink, 10%);
$dark-gray: #ccc;
$medium-gray: #999;
$light-gray: #ddd;
$electric-blue: #3ECAE8;
$cyan: #0f9;
$yellow: #fef654;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $electric-blue;
$highlight-color: $electric-blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$dark-background-color: #0e0616;
$base-background-color: #190a2c;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
