/.hero
/  .hero-inner
/
/    .hero-copy
/      h2
/        span Like&nbsp;
/        span.neon_blue Mario & Luigi&nbsp;
/        span hopped in a&nbsp;
/        span.neon_pink Delorean&nbsp;
/        span and went&nbsp;
/        span.neon_yellow Back to the 1980s
/
/    br
/
/    a.hero-logo href=""
/      = image_tag 'logo.png'
/
/    //.video
/      //.video-wrapper
/        //iframe allowfullscreen="" frameborder="0" src="http://www.youtube.com/embed/MH6TJU0qWoY?showinfo=0&iv_load_policy=3&controls=0"
/
/    br
/
/    .hero-copy
/      h2
/        span.white A&nbsp;
/        span.neon_pink Totally Bitchin'&nbsp;
/        span.white Platformer
/      br
/
/      form method="post" action="mailto:beta@Super80sWorld.com?subject=Sign me up for the beta test" target="_blank"
/        input type="submit" value="Signup for the Beta"