@import "base/_variables";
@import "top_nav";

body {
  background: $dark-background-color;
  //background-image: url(game/level_9.png);

  //background-repeat: repeat-x;
  //background-position: 0px 69px;

  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: center;

  font-size: 1em;

  //background-image: url(game/banner.png);
  //background-repeat: repeat-x;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

@media only screen and (max-width: 960px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}



.achievements {
  h1 {
    white-space: nowrap;
  }

  ul.bullet {
    li {
      list-style-type: square;
      list-style-position: inside;
    }
  }
  .achievement {
    .details {
      border-radius: 15px;
      display:none;
      background-color: $deep-purple;
      width: 340px;
      padding: 20px;
      font-family: 'basichandwritingmedium';
      font-weight: normal;
      font-size: 0.8em;
      margin-bottom: 40px;
    }
  }
}

.digital {
   font-family: 'DS-Digital';
}

.remodal {
  margin: 0px;
  padding: 0px;
  width: 370px;
  height: 200px;
  background-color: black;
  border: 3px solid #283f42;
}

#dans_take.bg-cassette {
  background-image: image-url('game/dans_cassette.png');
}

#dans_take.bg-cartridge {
  background-image: image-url('game/dans_cartridge.png');
}

#dans_take.bg-vhs {
  background-image: image-url('game/dans_vhs.png');
}

#dans_take {
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-size: 366px 177px;

  h3.title {
    font-family: "lazer84regular";
    //background: linear-gradient(to right, $electric-blue 0%, $hot-pink 100%);
    //color: $dark-background-color;
    padding: 10px 0px 0px 0px;
    margin: 0;
    font-size: 0.9em;
    color: $electric-blue;
  }
  .artist {
    font-family: "lazer84regular";
    color: $hot-pink;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
  }
  .review {
    color: $electric-blue;
    font-size: 0.9em;
    padding: 10px;
    margin-bottom: 0px;
    vertical-align: text-bottom;
    position: absolute;
    bottom: 0;
  }
}


.game {
  margin: 20px;

  .user {
    margin: 40px;
  }

  .thumb {
    line-height: 50px; // height taken from OPs plunker
    font-family: 'lazer84regular';
  }
  .thumb img {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
  }

  img.logo_topper {
    position: absolute;
    left: 50%;
    margin-left: -104px;
    margin-top: 20px;
  }

  hr {
    width: 300px;
    align:center;
    border: 1px solid #ED00D3;
    padding: 0;
    margin: 0;
  }

  table.holder {
    margin: 0px auto;

    td {
      margin: 0;
      padding: 0;
    }
  }

  .cassette {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;

    height: 52px;

    .display_title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'basichandwritingmedium';
      color: $dark-background-color;
      white-space:nowrap;
    }
  }

  .cartridge {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    height: 53px;

    .display_title {
      font-size: 0.8em;
      position: absolute;
      top: 20%;
      left: 38%;
      transform: translate(-50%, -50%);
      font-family: 'basichandwritingmedium';
      color: $chrome-top;
      white-space:nowrap;
    }
  }

  .vhs {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 56px;

    .display_title {
      position: absolute;
      margin-top: 2px;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'basichandwritingmedium';
      color: $dark-background-color;
      white-space:nowrap;
      font-size: .9em
    }
  }



  .panel {
    margin-left: 40px;
    margin-right: 40px;
    //border: 10px solid transparent;
    //margin: 20px;
    //padding: 15px;
    //-webkit-border-image: url(game/panel.png) round; /* Safari 3.1-5 */
    //-o-border-image: url(game/panel.png) round; /* Opera 11-12.1 */
    //border-image: url(game/panel.png) round;
    //border-image-slice: 3%;


    ul.discography {
      margin-left: 150px;
      li {
        display: inline-block;
        margin: 20px;
      }
    }

    table.controls {
      width: 100%;
      margin: 0;
      padding: 0;

      td {
        margin: 0;
        padding: 0;

        button {
          margin-top: 16px;
          font-family: 'DS-Digital';
          padding: 9px 20px;
          color: $magenta;
          background-color: $deep-purple;
          border: 1px solid $magenta;
        }
      }

    }
    table.heading {
      font-family: 'DS-Digital';
      color: $chrome-top;
      text-shadow: 8px 0px 16px $magenta;
      font-size: 1.5em;
      margin: 0;
      padding: 0;
      td {
        margin: 0;
        padding: 0;
        a {
          color: $chrome-top;
        }
      }
    }

    table.heading.disco {
      font-family: 'lazer84regular';
      color: $electric-blue;
      text-shadow: 6px 3px 16px $magenta;
    }

    h1 {
      font-family: 'lazer84regular';
      text-align: center;
      color: $electric-blue;
      text-shadow: 6px 3px 16px $magenta;
      font-size: 1.6em;
      margin-top: 0px;
    }
  }

  ul.navlist {
    text-align: center;
    li {
      font-family: 'lazer84regular';
      text-align: center;
      font-size: 1.25em;
      color: $magenta;
      text-shadow: 3px 1px 6px $electric-blue;
      display: inline-block;
      padding-left: 20px;
    }

    li.active {
      color: $electric-blue;
      text-shadow: 6px 3px 12px $magenta;
      font-size: 2.25em;
    }

    alignment: center;
  }

  table.leaderboard {
    table-layout: auto;
    //border-spacing: 2px;
    //border-collapse: separate;

    thead {
      tr {
        th {
          background-color: transparent;
          padding: 0px 10px;

          text-align: center;
          font-family: 'DS-Digital';
          font-size: 1.2em;
          color: $magenta;
          font-weight: normal;

          select {
            width: 180px;
          }

          .ui-selectmenu-text {
            padding: 10px 6px;
            margin: 2px;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 6px 6px;
          text-align: center;
          font-family: 'DS-Digital';
          font-size: 1.2em;
          color: $electric-blue;

          span.out {
            color: $deep-purple;
          }
          span.led {
            background-color: black;
            padding: 6px 10px;

          }
        }
      }
    }
  }

}

.ui-selectmenu-button  {
  font-family: 'DS-Digital';
  font-size: 1em;
  font-weight: normal;
  background: black;
  color: $magenta;
  border: none;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 10px;
  margin-left: 10px;

  .ui-selectmenu-text {
    font-family: 'DS-Digital';
    font-size: 1em;
    font-weight: normal;
    color: $magenta;

  }
  .ui-icon {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: $magenta;
  }
}

.ui-menu {
  border: 1px solid $hot-pink;
  .ui-menu-item {
    font-family: 'DS-Digital';
    font-size: 1em;
    font-weight: normal;
    background: $dark-background-color;
    color: $chrome-top;
    border: none;
  }
}
.ui-menu-item.ui-state-focus {
  background-color: $magenta;
  color: $dark-background-color;
  border: none;
}




@media screen and (min-width: 1201px) {
  .game {
    table.leaderboard {
      thead {
        tr {
          th {
            font-size: 1.2em;
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 1.8em;
          }
        }
      }
    }
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 889px) {
  .game {
    table.leaderboard {
      thead {
        tr {
          th {
            font-size: 1.2em;
          }
          th.world_column {
            display:none;
            width:0;
            height:0;
            opacity:0;
            visibility: collapse;
          }
          th.level_column {
            display:none;
            width:0;
            height:0;
            opacity:0;
            visibility: collapse;
          }
          th.date_column {
            display:none;
            width:0;
            height:0;
            opacity:0;
            visibility: collapse;
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 1.2em;
          }
          td.world_column {
            display:none;
            width:0;
            height:0;
            opacity:0;
            visibility: collapse;
          }
          td.level_column {
            display:none;
            width:0;
            height:0;
            opacity:0;
            visibility: collapse;
          }
          td.date_column {
            display:none;
            width:0;
            height:0;
            opacity:0;
            visibility: collapse;
          }
        }
      }
    }
  }
}

footer.game {
  font-family: 'DS-Digital';
  float: right;
  margin-right: 60px;
}

.game {
  .flex-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-grid-item {
    height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    flex-basis: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blank {
    height: 0;
  }

  /* colors by clrs.cc*/
  .flex-grid-item:nth-child(1)  {}
  .flex-grid-item:nth-child(2)  {}
  .flex-grid-item:nth-child(3)  {}
  .flex-grid-item:nth-child(4)  {}
  .flex-grid-item:nth-child(5)  {}
  .flex-grid-item:nth-child(6)  {}
  .flex-grid-item:nth-child(7)  {}
  .flex-grid-item:nth-child(8)  {}
  .flex-grid-item:nth-child(9)  {}
  .flex-grid-item:nth-child(10) {}
  .flex-grid-item:nth-child(11) {}
  .flex-grid-item:nth-child(12) {}
  .flex-grid-item:nth-child(13) {}
  .flex-grid-item:nth-child(14) {}
  .flex-grid-item:nth-child(15) {}
  .flex-grid-item:nth-child(16) {}
  .flex-grid-item:nth-child(17)  {}
  .flex-grid-item:nth-child(18)  {}
  .flex-grid-item:nth-child(19)  {}
  .flex-grid-item:nth-child(21)  {}
  .flex-grid-item:nth-child(22)  {}
  .flex-grid-item:nth-child(23)  {}
  .flex-grid-item:nth-child(34)  {}
  .flex-grid-item:nth-child(35)  {}
  .flex-grid-item:nth-child(36)  {}
  .flex-grid-item:nth-child(37)  {}
  .flex-grid-item:nth-child(38)  {}
  .flex-grid-item:nth-child(39)  {}
  .flex-grid-item:nth-child(40)  {}

  table.leaderboard.tight {
    max-width: 300px;
    tbody {
      tr {
        td {
          font-size: 1.2em;
        }
      }
    }
  }

}
