body {
  margin: 0;
  padding: 0;
  background-color: $base-background-color;

  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img.top {
    vertical-align: top;
  }

  p, ul {
    margin-bottom: 30px;
  }

}

.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px $hot-pink;
  -webkit-box-shadow: 0 0 5px $hot-pink;
  box-shadow: 0 0 5px $hot-pink;
  border: 5px solid $electric-blue;
  left: -5px;
  background: #15191f;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-clone {
  display: none;
}


.email {
  width: 100%;

  h1, h2, h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
    color: $electric-blue;
  }

  input[type="text"] {
    display: inline-block;
    margin : 0 auto;
    width: auto;
    height: 50px;
    font-size: 28px;
    border: 2px solid $electric-blue;
    background: black;
    color: $electric-blue;
    font-color: $electric-blue;
  }

  input[type="submit"] {
    margin-left: 20px;
    height: 50px;
    background: $electric-blue;
    color: $base-background-color;
  }
}


@media only screen and (max-device-width: 800px) {
  #wrapper {
    width: 100%;
    height: 1112px;

    #cover {
      width: 100%;
      height:100%;
      @include background-image(image-url('bg.png'), image-url('city.png'), linear-gradient(#000, $base-background-color));
      background-repeat: repeat-x, no-repeat;
      background-size: 3380px 1112px;
      background-position: right, center;
    }
  }

  .email {
    h1, h2, h3 {
      font-size: 3em;
    }
    input[type="text"] {
      font-size: 48px;
      height: 80px;
    }
    input[type="submit"] {
      margin-top: 20px;
      font-size: 48px;
      line-height: .25em;
      height: 80px;
    }
  }

  .beta-link {
    margin-top: 20px;
    width: 600px;
    height: auto;
  }

  .content {
    margin-top: -100px;

    .copy {
      font-family: $base-font-family;
      font-size: 2em;
      margin: 60px;
    }
  }

  .logo {
    width: 800px;
    height: auto;
  }
}

.bx-wrapper .bx-caption {
  background: rgba(21, 244, 255, 0.25);
}

@media only screen and (min-device-width: 801px) {
  #wrapper {
    height:556px;

    #cover {
      height:100%;
      @include background-image(image-url('bg.png'), image-url('city.png'), linear-gradient(#000, $base-background-color));
      background-repeat: repeat-x, no-repeat;
      background-position: right, center;
    }
  }

  .content {
    @include outer-container;
    @include clearfix;

    margin-top: -80px;

    .copy {
      @include span-columns(6);
      @include shift(3);
    }
  }
}

.alert-notice {
  color: $electric-blue;
}

.alert-error {
  color: $yellow;
}
