body {
  margin: 0;
  padding: 0;
  background-color: $base-background-color;

  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img.top {
    vertical-align: top;
  }

  p, ul {
    margin-bottom: 30px;
  }

}

.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px $hot-pink;
  -webkit-box-shadow: 0 0 5px $hot-pink;
  box-shadow: 0 0 5px $hot-pink;
  border: 5px solid $electric-blue;
  left: -5px;
  background: #15191f;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-clone {
  display: none;
}


.email {
  width: 100%;

  h1, h2, h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
    color: $electric-blue;
  }

  input[type="text"] {
    display: inline-block;
    margin : 0 auto;
    width: 95%;
    height: 50px;
    font-size: 28px;
    background: black;
    color: $electric-blue;
    font-color: $electric-blue;

    border: 2px solid white;
  }

  input[type="submit"] {
    display: inline-block;
    margin-left: 20px;
    height: 50px;
    background: $hot-pink;;
    color: white;
    border: 2px solid white;
  }
}

.signup {
  padding-top: 20px;
  background: tint($base-background-color, 10%);

  .form {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);

    .words {
      white-space: nowrap;
      margin-top: 7px;
      padding-right: 20px;
    }

    .input {
      .surround {
        margin-bottom: 20px;

        input[type="text"] {
          display: inline-block;
          width: 250px;
          margin: 0;
          border: none;
          height: 42px;
          font-size: .8em;
          padding-top: 12px;
          padding-bottom: 12px;
          border: 1px solid $hot-pink;
          @include border-top-radius(0px);
          @include border-bottom-radius(0px);
        }
        input[type="submit"] {
          display: inline-block;
          font-size: 0.8em;
          height: 42px;
          margin: 0;
          border: 1px solid $hot-pink;
          @include border-top-radius(0px);
          @include border-bottom-radius(0px);
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }

}


input[type="submit"].yes {
  display: inline-block;
  margin-top: 10px;
  margin-right: 0px;
  border: 2px solid #ffffff;
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  width: 240px;
}

input[type="reset"].no {
  display: inline-block;
  background: tint($base-background-color, 10%);
  margin-top: 10px;
  margin-left: 0px;
  border: 2px solid #666666;
  border-left: 0px;
  color: #666666;
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  height: 50px;
  width: 240px;
}


@media only screen and (max-device-width: 800px) {
  input[type="submit"].yes {
    margin: 0 0 0 0;
  }

  input[type="reset"].no {
    display: inline-block;
    background: tint($base-background-color, 10%);
    margin: 0 0 0 0;
    border-left: 2px solid #666666;
    border-top: 0px;
    height: 42px;
  }

  #wrapper {
    width: 100%;
    height: 556px;

    #cover {
      width: 100%;
      height:100%;
      @include background-image(image-url('bg.png'), image-url('city.png'), linear-gradient(#000, $base-background-color));
      background-repeat: repeat-x, no-repeat;
      background-size: 1690px 556px;
      background-position: top, top;
    }
  }

  .signup .form .input {
    display: none;
  }

  .signup .form {
    padding-bottom: 20px;
  }

  .email {
    h1, h2, h3 {
      font-size: 1.25em;
    }
    input[type="text"] {
      font-size: 14px;
      height: 40px;
      width: 250px;
    }
    input[type="submit"] {
      margin-top: 10px;
      font-size: 14px;
      line-height: .25em;
      height: 40px;
    }
  }

  .beta-link {
    margin-top: 150px;
    width: 600px;
    height: auto;
    @include transition(all 0.3s ease-in-out);
    cursor: pointer;
  }

  li.channel {
    a {
      font-size: 1.5em;
    }
  }

  .beta-link:hover {
    cursor: pointer;

    @include transform(scale(1.25));
    @include filter(grayscale(50%));
  }

  .content {
    margin-top: -150px;

    .copy {
      font-family: $base-font-family;
      font-size: 1em;
      margin: 60px;
    }
  }

  .logo {
    width: 800px;
    height: auto;
  }
}

.bx-wrapper .bx-caption {
  background: rgba(21, 244, 255, 0.25);
}

@media only screen and (min-device-width: 801px) {
  #wrapper {
    height:556px;

    #cover {
      height:100%;
      @include background-image(image-url('bg.png'), image-url('city.png'), linear-gradient(#000, $base-background-color));
      background-repeat: repeat-x, no-repeat;
      background-position: right, center;
    }
  }

  .content {
    @include outer-container;
    @include clearfix;

    margin-top: -80px;

    .copy {
      @include span-columns(8);
      @include shift(2);
      @include omega();
    }
  }
}

.alert-notice {
  color: $electric-blue;
}

.alert-error {
  color: $yellow;
}

.beta-link, .channel, .grow {
  @include transition(all 400ms ease-in-out);
}

.beta-link:hover {
  @include transform(scale(1.25) rotate(-3deg));
}

.channel:hover {
  @include transform(scale(1.5) rotate(-3deg));
}

.grow:hover {
  a {
    color: $base-background-color;
  }
  @include transform(scale(1.75));
}

.at4-share-title {
  font-size: 14px;
  color: white;
}
