.topnav {
  background-color: $deep-purple;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: $chrome-top;
  text-align: center;
  margin: 0;
  padding: 0px 8px;
  text-decoration: none;

  img {
    margin: 0;
    padding: 0;
  }
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: $dark-background-color;
  color: $deep-purple;
}

/* Add an active class to highlight the current page */
.active {
  background-color: $hot-pink;
  color: $chrome-top;
}
