' Congratulations to
'
= link_to 'THUBER420', game_profile_path('thuber420')
'
' and
'
= link_to 'LINUS_RAAEN', game_profile_path('linus_raaen')
' for winning a RetroKing Mini game console!
br
br
' There's a
'
= link_to 'new competition', '/game/beta_competition'
'
' starting shortly so
'
= link_to 'sign up', '/game/beta_competition'
' 
' now to participate.